@font-face {
  font-family: GothamProMedium;
  src: url(./fonts/GothamPro/gothampro_medium.ttf);
}
@font-face {
  font-family: GothamProBold;
  src: url(./fonts/GothamPro/gothampro_bold.ttf);
}
@font-face {
  font-family: GothamPro;
  src: url(./fonts/GothamPro/gothampro.ttf);
}
@font-face {
  font-family: ALSSchlangesans-Bold;
  src: url(./fonts/ALSS/ALSSchlangesans-Bold.ttf);
}

.HeaderStyle {
  font-family: GothamProMedium;
}
.ButtonHeader {
  background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
  box-shadow: 0px 6px 21px rgba(104, 130, 245, 0.67);
  border-radius: 90px;
}

.titleH1 {
  font-family: ALSSchlangesans-Bold;
}
.text1 {
  font-family: GothamPro;
}
